<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if is_logged %}
    <button align="center"> <a href="{% url 'postcreate' %}"> Опубликовать обьявление</a> </button>
    {% endif %}
    {% if posts %}
    <table>
           <tr>
               <td>Название</td>
               <td>Категория</td>
               <td>Содержание</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td><a href="{% url 'post' post.id %}">{{ post.title }}</a></td>
               <td>
                   {% for cat in post.category.all %}
                   {{ cat }}
                   {% endfor %}
               </td>
               <td>{{ post.content|truncatewords:20}}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

</body>
</html>